body {
  font-family: Arial, sans-serif;
  background-color: #cce7e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
}
.title {
  letter-spacing: 5px;
  font-size: 24px;
  color: #4a707a;
}
.calculator {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.input-section,
.output-section {
  flex: 1;
  padding: 20px;
}
label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #4a707a;
}
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.tip-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.tip {
  flex: 1;
  padding: 10px;
  background-color: #00474b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.tip:hover {
  background-color: #026d71;
}
#custom-tip {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.output-section {
  background-color: #00474b;
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}
.result h2 {
  color: #26c0ab;
}
#reset {
  width: 100%;
  padding: 10px;
  background-color: #26c0ab;
  color: #00474b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
#reset:hover {
  background-color: #33d5be;
}