@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "Kumbh Sans", serif;
}

body{
    height:100vh;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div{
    width:350px;
    height:370px;
    border-radius: 20px;
    background-color: aliceblue;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    bottom: 170px;
    left: 130px;
}

.info1{
    display: flex;
    flex-direction: row;
    gap:30px;
    border-top: 1px solid hsl(0, 2%, 81%);
    padding-left: 70px;
}

h4{
    display: inline-block;
    padding-top: 70px;
    padding-right: 5px;
}

.paragraph1{
    display: inline-block;
    color:hsl(227, 10%, 46%);
    font-weight: 500;
}

.paragraph2{
    color:hsl(227, 10%, 46%);
    padding-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}

.paragraph3{
    font-weight: 700;
    padding-top: 20px;
}

.paragraph4{
    color:hsl(227, 10%, 46%);
    font-size: 12px;
}


.paragraph5{
    font-weight: 700;
    padding-top: 20px;
}

.paragraph6{
    color:hsl(227, 10%, 46%);
    font-size: 12px;
}


.paragraph7{
    font-weight: 700;
    padding-top: 20px;
}

.paragraph8{
    color:hsl(227, 10%, 46%);
    font-size: 12px;
}