body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.test {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: red;
  transition: 2s;

  /* animation-iteration-count რამდენი იტერაცია უნდა მოხდეს */
  animation-iteration-count: 2;
  animation-name: animation;
  /* animation-duration ანიმაციის ხანგრძლივობა */
  animation-duration: 2s;
  /* animation-delay შემიძლია ვაკონტროლო საიტზე შესვლის შემდეგ რამდენ წამში დაიწყოს ანიმაცია */
  /* animation-delay: 2s; */
  animation-timing-function: ease;
}
@keyframes animation {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}
