table , th , td {
    border: 1px solid black;
}
th {
    background-color: rgb(74, 247, 198);
}
#red {
    background-color: aquamarine;
}
.red {
    background-color: aquamarine;
}
table {
    text-align: center;
}