* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Karla", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.pricing-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}
.header {
  padding: 30px;
  text-align: left;
  background: #fff;
}
.header h2 {
  color: #2ab3b1;
  font-size: 22px;
}
.guarantee {
  color: #c0df34;
  font-weight: bold;
  margin: 10px 0;
}
.description {
  color: #7a8b98;
  font-size: 16px;
  line-height: 1.5;
}
.content {
  display: flex;
  flex-direction: column;
}
.subscription,
.why-us {
  padding: 30px;
  color: white;
}
.subscription {
  background: #2ab3b1;
}
.why-us {
  background: #4abebd;
}
.subscription h3,
.why-us h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.price {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.price span {
  font-size: 16px;
  margin-left: 10px;
}
.access {
  font-size: 14px;
  margin: 10px 0 20px;
}
button {
  width: 100%;
  background: #c0df34;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
ul {
  padding: 0;
  font-size: 14px;
}
@media (min-width: 600px) {
  .content {
    /* horizontalurad ganlagebistvis */
    flex-direction: row;
  }
}
