*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    gap:100px
}

.div-1{
    width:200px;
    height:200px;
    background-color: aquamarine;
}

.div-1:hover{
    transform: scale(1.5) rotate(360deg);
    background-color: rgb(0, 87, 130);
    transition-duration: 1s;
}

.div-2{
    width:200px;
    height:200px;
    background-color:rgb(11, 210, 54);
    border-radius: 50%;
}

.div-2:hover{
    transform: rotatex(180deg) rotateY(50deg);
    transition-duration: 3s;
}

.div-3{
    width:200px;
    height:200px;
    background-color: rgb(153, 123, 180);
}

.div-3:hover{
    transform: rotate(350deg) scale(1.5);
    transition-duration: 3s;
}

.div-4{
    width:200px;
    height:200px;
    background-color: rgb(66, 197, 197);
}

.div-4:hover{
    transform: translateX(50px);
    border-radius: 50%;
    transition-duration: 3s;
}