@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

body{
    height:100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width:390px;
    height:510px;
    background-color: hsl(0, 0%, 100%);
    border-top: 1px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 25px;
}

.paragraphh1{
    border:none;
    width:80px;
    font-weight: 800;
    font-family: "Figtree", serif;
    padding:5px;
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
    margin-bottom: 20px;
}

.paragraphh2{
    font-family: "Figtree", serif;
    margin-bottom: 20px;
}

h2{
    font-family: "Figtree", serif;
    font-weight: 800;
    margin-bottom: 20px;
}

.paragraphh3{
    font-family: "Figtree", serif;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
    padding-right: 50px;
}

.icon-div svg{
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 20px;
    padding-top: 10px;
}

.img{
    width:30px;
    height: 30px;
}

.paragraphh4{
    font-family: "Figtree", serif;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
    margin:0px
}
