@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.btn1{
    background-color: rgb(166, 228, 166);
    border:none;
    padding: 10px;
    width:150px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
}

.btn1:hover{
    background-color: transparent;
    border:2px solid rgb(166, 228, 166);
    transition: 0.5s;
}

p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

h1{
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color:black;
}

input{
    width:300px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    border:1px solid black;
    outline: none;
}

textarea{
    width:320px;
    height:100px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    border:1px solid black;
    outline: none;
}

.btn2{
    background-color: rgb(166, 228, 166);
    border:none;
    padding: 10px;
    width:320px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
}

.btn2:hover{
    background-color: transparent;
    border:2px solid rgb(166, 228, 166);
    transition: 0.5s;
}