* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




main {
    width: 1000px;
    height: 900px;
    display: flex;
    border: 5px solid black;
}

div {
    width: 200px;
    height: 200px;
    border: 2px solid red;
}

.red{
    background-color: red;
    order:1
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
    order: -1;
    align-self: center;
}

.blue{
    background-color: aquamarine;
    order:2
}

