* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
  width: 500px;
  height: 600px;
}
section {
  border: 2px solid black;
}
section:nth-child(1) {
  grid-column: 1 / 6;
}
section:nth-child(2) {
  grid-column: 6 / 11;
}
section:nth-child(3) {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}
section:nth-child(4) {
  grid-column: 4 / 7;
  grid-row: 2 / 4;
}
section:nth-child(5) {
  grid-column: 7 / 11;
  grid-row: 2 / 5;
}
section:nth-child(6) {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
}
section:nth-child(7) {
  grid-column: 1 / 8;
  grid-row: 5 / 7;
}
section:nth-child(8) {
  grid-column: 8 / 11;
  grid-row: 5 / 7;
}
section:nth-child(9),
section:nth-child(10),
section:nth-child(11) {
  grid-row: 7 / 10;
}
section:nth-child(9) {
  grid-column: 7 / 10;
}
section:nth-child(10) {
  grid-column: 4 / 7;
}
section:nth-child(11) {
  grid-column: 1 / 7;
}
section:nth-child(12) {
  grid-column: 1 / 7;
}
section:nth-child(13) {
  grid-column: 1 / 11;
}
