@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    height:100vh;
    background-color: #DAE3FF;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

main{
    width:400px;
    height:600px;
    background-color:white;
    font-family: "Red Hat Display", serif;
    border-radius: 15px;
}

.main-div{
    padding-left: 35px;
}

img{
    width:400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 30px;
}

.info{
    text-align: center;
}


h2{
    font-weight: 900;
    margin-bottom: 20px;
}

.paragraph1{
    font-weight: 500;
    color:hsl(224, 23%, 55%);
    margin-bottom: 20px;
}

.info1{
    width:330px;
    text-align: left;
    display:flex;
    align-items: center;
    background-color: #F8F9FD;
    border-radius: 10px;
    padding:20px;
    margin-bottom: 30px;
}


svg{
    margin-right: 20px;
}

.info2{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.paragraph2{
    color:hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 5px;
}

.paragraph3{
    font-weight: 600;
    font-size: 15px;
    color:hsl(224, 23%, 55%);
}

a{
    color:hsl(245, 75%, 52%);
    font-size: 12px;
    font-weight: 900;
    padding-left: 70px;
}

a:hover{
    cursor: pointer;
}

.button{
    padding-left: 35px;
}

.button1{
    width:330px;
    background-color: hsl(245, 75%, 52%);
    font-weight: 700;
    border:none;
    border-radius: 10px;
    padding:15px;
    color:white;
    margin-bottom: 5px;
}

.button1:hover{
    cursor: pointer;
}

.button2{
    width:330px;
    font-size: 12px;
    color:hsl(224, 23%, 55%);
    font-weight: 900;
    background-color: white;
    border-radius: 10px;
    border:none;
    padding:15px
}

.button2:hover{
    cursor: pointer;
}