body {
  margin: 0px;
  padding: 0px;
}
main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
section {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
}
.card {
  padding: 15px;
  color: black;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
}
.blue {
  background-color: rgb(78, 78, 248);
}
.yellow {
  background-color: rgb(237, 178, 66);
}
.red {
  background-color: red;
}
.gray {
  background-color: grey;
}
