@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    height: 1200px;
    border: 5px solid black;
    gap:10px
}

section {
    background-color: rgb(124, 239, 201);
    border: 3px solid blueviolet;
}